<div>
    <div class="e-card e-custom-card">
      <div class="e-card-header">
        <div class="e-avatar e-avatar-circle">
          <img src="./assets/Profile/02.png" alt="JW" />
        </div>
        <div class="e-profile-editor" (click)="onProfileEdit.emit($event)">
          <div class="e-profile-inner-editor">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        &nbsp;
      </div>
      <div class="e-card-header">
        <div class="e-card-header-caption center">
          <div class="e-card-header-title">{{ profileStats.name }}</div>
          <div class="e-card-header-sub-title">{{ profileStats.age }} Years, {{ profileStats.location }}</div>
        </div>
      </div>
      <div class="e-card-content">
        <table class="e-profile-details">
          <tr>
            <td>
              <div class="profile-row">Weight</div>
            </td>
            <td>
              <div class="profile-row">Height</div>
            </td>
            <td>
              <div class="profile-row">Goal</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="profile-value">{{ profileStats.weight + ' ' + profileStats.weightMes }}</div>
            </td>
            <td>
              <div class="profile-value">{{ profileStats.height + ' ' + profileStats.heightMes }}</div>
            </td>
            <td>
              <div class="profile-value">{{ profileStats.goal + ' ' + profileStats.goalMes }}</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <div class="e-journal" style="float: left;">Journals</div>
      <div class="e-journal-date" style="float: right;">
        <ejs-datepicker #profiledate [value]='currentDate' [max]="maxDate" width="100%" (change)="notify.emit($event)">
        </ejs-datepicker>
      </div>
    </div>
    <div class="profile-diet-card-container">
      <div tabindex="0" class="e-card e-diet-card" *ngFor="let activity of activities">
        <div class="e-card-header" style="width: 100%">
          <div class="e-card-header-caption">
            <div class="e-card-header-title">
              {{ activity.activity }}
            </div>
            <div>
              <div class="e-card-header-sub-title" style="float: left;">
                {{ activity.amount ?  (activity.amount + ' |') : '' }}
                {{ activity.duration ?  (activity.duration + ' |') : '' }}
                {{ activity.distance ?  (activity.distance + ' |') : '' }}
                <span
                  [ngClass]="activity.distance ? 'e-activity-highlight' : 'e-meals-highlight'">{{ activity.percentage ?  activity.percentage : '' }}</span>
              </div>
              <div class="e-card-header-sub-title" style="float: right;">{{ activity.time }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  